<form action="https://app.kit.com/forms/9916003/subscriptions" class="newsletter-form seva-form formkit-form" method="post" data-sv-form="9916003" data-uid="ab0394af6d" data-format="inline" data-version="5" data-options='{"settings":{"after_subscribe":{"action":"message","success_message":"Success! Now check your email to confirm your subscription.","redirect_url":""},"analytics":{"google":null,"facebook":null},"recaptcha":{"enabled":false},"return_visitor":{"action":"show"},"powered_by":{"show":false}},"version":"5"}'>
  <div aria-live="polite" aria-atomic="true">
    <ul class="formkit-alert formkit-alert-error" data-element="errors" data-group="alert" role="alert"></ul>
    <div data-element="fields" class="newsletter-fields">
      <label class="newsletter-email">First name<input class="formkit-input" name="fields[first_name]" type="text" autocomplete="given-name" placeholder="Your first name" required data-hj-suppress></label>
      <label class="newsletter-email">Email address<input class="formkit-input" name="email_address" type="email" autocomplete="email" placeholder="you@example.com" required data-hj-suppress></label>
      <button class="button formkit-submit" type="submit" data-element="submit"><span class="signup-label">Subscribe</span><span class="signup-busy" hidden>Subscribing…</span></button>
    </div>
  </div>
  <p class="microcopy">I send a note when I have something useful to say. Unsubscribe anytime. <a href="/privacy/">Privacy</a>.</p>
  <noscript><p class="microcopy">JavaScript is off. Submitting will open Kit to finish your signup.</p></noscript>
</form>
<script src="https://f.convertkit.com/ckjs/ck.5.js" crossorigin="anonymous" defer></script>
