$blue: #34aaff;
$dark-blue: #2483c7;
$black: #282828;
$white: #ffffff;
$footer-grey: #f2f5f8;
$light-grey: #eeeeee;
$grey: #a9aeb1;
$dark-grey: #90959A;
$light-yellow: #ffffb6;
$blog-text: #636467;
$varden: #fbeed5;
$green: #50c943;