h1,
h2,
h3,
h4,
h5,
h6 {
  color: $black;
  font-weight: 600;
}

h1 {
  @include breakpoint($sm) {
    font-size: 32px;
  }

  @include breakpoint($md) {
    font-size: 40px;
  }
}

a {
  color: $blue;

  &:hover {
    color: $dark-blue;
  }
}

p {
  color: $grey;
  font-weight: 300;
  line-height: 1.625;
}

.blue-text {
  color: $blue;
}

.dark-blue-text {
  color: $dark-blue;
}

.black-text {
  color: $black;
}

.white-text {
  color: $white;
}

.fw-300 {
  font-weight: 300;
}

.fw-600 {
  font-weight: 600;
}
