---
permalink: /robots.txt
eleventyExcludeFromCollections: true
---
User-agent: *
{% if site.isPreview %}Disallow: /
{% else %}
Allow: /

User-agent: OAI-SearchBot
Allow: /

User-agent: GPTBot
Disallow: /

User-agent: ChatGPT-User
Allow: /

Sitemap: https://adrianching.com/sitemap.xml
{% endif %}
