---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{% for path in ['/', '/work-with-me/', '/ai-profit-opportunity-audit/', '/advisory/', '/about/', '/blog/', '/newsletter/', '/how-to-build-a-website-using-middleman-and-github-pages/'] %}  <url><loc>{{ site.url }}{{ path }}</loc></url>
{% endfor %}</urlset>
