---

title: About

---

.container.text-left.about-page
  .about-text
    %h1 Who is Adrian Ching?
    .row
      .col-md-4
        .about-photo
          = image_tag 'adrianching.jpg', height: '200px', width: '200px'
      .col-md-8
        %p Hi. I'm Adrian Ching and I'm the Chief Hustler at Upstack Studio, where we help companies build amazing apps. Before that, I was Engineer #3 at Surialabs. I also make digital products that solve problems and build a business around them, bootstrap style.
    %p People often see the success of startups but they don't see the real hustle and work behind it. With that in mind, I've started this blog to share everything on my journey to $1,000,000 in monthly revenue. I'm learning a lot and so will you.
    %p Want to peek over my shoulder to see what works and what doesn't? Drop your email below and you will get an email everytime I write a new post. 👇

= partial "partials/newsletter", locals: { title: 'Get an email when I write a new post:' }
